{% extends "layout-ccd.html" %}

{% block page_title %}
  Credit 2 fee
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  <!-- <a class="govuk-c-back-link" href="">Back</a> -->
  <br/>

          <div class="govuk-o-width-container">
            <a href="" >Case list...</a>
            <a href="">Lorem ipsum...</a>
            <a href="">Lorem ipsum...</a>
          </div>

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--full">

         <div id="subHeader">
            <p id="paragraphWhite">2309-1129-5569-2669</p>
            <!-- <p id="paragraphWhite">Print</p> -->
         </div>

         <br/>
<a href="payment-case-view.html" class="govuk-c-back-link">Back</a>
         <h1 class="govuk-heading-xl">Payment details</h1>
</div>


      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">



          <table class="govuk-c-table">
              <thead class="govuk-c-table__head">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header-CCD" scope="col"></th>
                  <th class="govuk-c-table__header-CCD" scope="col"></th>
                  <th class="govuk-c-table__header-CCD" scope="col"></th>
                  </tr>

              </thead>
                <tbody class="govuk-c-table__body">
                  <!-- <tr class="govuk-c-table__row">
                    <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Number of payments:</th>
                    <td class="govuk-c-table__cell-CCD-column2-test">1</td>
                    <td class="govuk-c-table__cell-CCD-column3-test"></td>
                  </tr> -->
                  <tr class="govuk-c-table__row">
                    <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Payment reference:</th>
                    <td class="govuk-c-table__cell-CCD-column2-test">RC-1521-1095-0964-3143</td>
                    <td class="govuk-c-table__cell-CCD-column3-test"></td>
                  </tr>

                  <tr class="govuk-c-table__row">
                    <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Total payment amount:</th>
                    <td class="govuk-c-table__cell-CCD-column2-test">£215.50</td>
                    <td class="govuk-c-table__cell-CCD-column3-test"></td>
                  </tr>
                </tbody>
           </table>




        <table class="govuk-c-table">
          <h2>Fee details</h2>
            <thead class="govuk-c-table__head">
              <tr class="govuk-c-table__row">
                <th class="govuk-c-table__header-CCD" scope="col"></th>
                <th class="govuk-c-table__header-CCD" scope="col"></th>
                <th class="govuk-c-table__header-CCD" scope="col"></th>

              </tr>


            </thead>
              <tbody class="govuk-c-table__body">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Fee description:</th>
                  <td class="govuk-c-table__cell-CCD-column2-test">Application for probate</td>
                  <td class="govuk-c-table__cell-CCD-column3-test"></td>
                </tr>
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Fee code:</th>
                  <td class="govuk-c-table__cell-CCD-column2-test">FEE0334</td>
                  <td class="govuk-c-table__cell-CCD-column3-test"></td>
                </tr>
                <!-- <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Remission reference:</th>
                  <td class="govuk-c-table__cell-CCD-column2-test">PA170855</td>
                  <td class="govuk-c-table__cell-CCD-column3-test"></td>
                </tr> -->
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Fee amount:</th>
                  <td class="govuk-c-table__cell-CCD-column2-test">£215.00</td>
                  <td class="govuk-c-table__cell-CCD-column3-test"></td>
                </tr>
                <!-- <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Remission amount:</th>
                  <td class="govuk-c-table__cell-CCD-column2-test">-£25.00</td>
                  <td class="govuk-c-table__cell-CCD-column3-test"></td>
                </tr> -->
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Net amount:</th>
                  <td class="govuk-c-table__cell-CCD-column2-test">£215.00</td>
                  <td class="govuk-c-table__cell-CCD-column3-test"></td>
                </tr>

              </tbody>
         </table>

         <table class="govuk-c-table">
             <thead class="govuk-c-table__head">
               <tr class="govuk-c-table__row">
                 <th class="govuk-c-table__header-CCD" scope="col"></th>
                 <th class="govuk-c-table__header-CCD" scope="col"></th>
                 <th class="govuk-c-table__header-CCD" scope="col"></th>
               </tr>
             </thead>
               <tbody class="govuk-c-table__body">
                 <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Fee description:</th>
                   <td class="govuk-c-table__cell-CCD-column2-test">Copy of document</td>
                   <td class="govuk-c-table__cell-CCD-column3-test"></td>
                 </tr>
                 <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Fee code:</th>
                   <td class="govuk-c-table__cell-CCD-column2-test">FEE2309</td>
                   <td class="govuk-c-table__cell-CCD-column3-test"></td>
                 </tr>
                 <!-- <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Volume:</th>
                   <td class="govuk-c-table__cell-CCD-column2-test">1</td>
                   <td class="govuk-c-table__cell-CCD-column3-test"></td>
                 </tr> -->
                 <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Fee amount:</th>
                   <td class="govuk-c-table__cell-CCD-column2-test">£00.50</td>
                   <td class="govuk-c-table__cell-CCD-column3-test"></td>
                 </tr>
                 <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Net amount:</th>
                   <td class="govuk-c-table__cell-CCD-column2-test">£00.50</td>
                   <td class="govuk-c-table__cell-CCD-column3-test"></td>
                 </tr>

               </tbody>
          </table>

         <!-- <table class="govuk-c-table">
             <thead class="govuk-c-table__head">
               <tr class="govuk-c-table__row">
                 <th class="govuk-c-table__header-CCD" scope="col"></th>
                 <th class="govuk-c-table__header-CCD" scope="col"></th>
                 <th class="govuk-c-table__header-CCD" scope="col"></th>

               </tr>


             </thead>
               <tbody class="govuk-c-table__body">
                 <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-column1-test" scope="row"><p class="govuk-body govuk-!-f-16, govuk-!-w-bold">Total amount:</p></th>
                   <td class="govuk-c-table__cell-CCD-column2-test"><p class="govuk-body govuk-!-f-16, govuk-!-w-bold">£525.50</p></td>
                   <td class="govuk-c-table__cell-CCD-column3-test"></td>
                 </tr>


               </tbody>
          </table> -->



            <h2 class="govuk-heading-l">RC-1521-1095-0964-3143</h2>

          <table class="govuk-c-table">
            <h2>Payment method</h2>
              <thead class="govuk-c-table__head">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header-CCD" scope="col"></th>
                  <th class="govuk-c-table__header-CCD" scope="col"></th>
                  <th class="govuk-c-table__header-CCD" scope="col"></th>

                </tr>


              </thead>
                <tbody class="govuk-c-table__body">
                  <tr class="govuk-c-table__row">
                    <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Type:</th>
                    <td class="govuk-c-table__cell-CCD-column2-test">Credit</td>
                    <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    <tr class="govuk-c-table__row">

                      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">PBA account name:</th>
                      <td class="govuk-c-table__cell-CCD-column2-test">DLA Piper</td>
                      <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    </tr>
                    <tr class="govuk-c-table__row">
                      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">PBA number:</th>
                      <td class="govuk-c-table__cell-CCD-column2-test">PBA0087711</td>
                      <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    </tr>
                    <tr class="govuk-c-table__row">
                      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Customer internal reference:</th>
                      <td class="govuk-c-table__cell-CCD-column2-test">NSH/AG02/01044212/1</td>
                      <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    </tr>

                    <!-- <tr class="govuk-c-table__row">
                      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Name:</th>
                      <td class="govuk-c-table__cell-CCD-column2-test">John Brown</td>
                      <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    </tr>
                    <tr class="govuk-c-table__row">
                      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Card number:</th>
                      <td class="govuk-c-table__cell-CCD-column2-test">**** **** **** 2346</td>
                      <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    </tr>
                    <tr class="govuk-c-table__row">
                      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Card expiry date:</th>
                      <td class="govuk-c-table__cell-CCD-column2-test">12/20</td>
                      <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    </tr> -->

                    <!-- <tr class="govuk-c-table__row">
                      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Name on cheque:</th>
                      <td class="govuk-c-table__cell-CCD-column2-test">John Brown</td>
                      <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    </tr>
                    <tr class="govuk-c-table__row">
                      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Cheque number:</th>
                      <td class="govuk-c-table__cell-CCD-column2-test">235976</td>
                      <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    </tr>
                    <tr class="govuk-c-table__row">
                      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Account number:</th>
                      <td class="govuk-c-table__cell-CCD-column2-test">*****98</td>
                      <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    </tr>
                    <tr class="govuk-c-table__row">
                      <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Sort code:</th>
                      <td class="govuk-c-table__cell-CCD-column2-test">****78</td>
                      <td class="govuk-c-table__cell-CCD-column3-test"></td>
                    </tr> -->
                </tbody>
           </table>

          <table class="govuk-c-table">
            <h2>Payment history</h2>
              <thead class="govuk-c-table__head">
                <tr class="govuk-c-table__row">
                  <th class="govuk-c-table__header-CCD" scope="col"></th>
                  <th class="govuk-c-table__header-CCD" scope="col"></th>
                  <th class="govuk-c-table__header-CCD" scope="col"></th>

                </tr>


              </thead>
                <tbody class="govuk-c-table__body">
                  <tr class="govuk-c-table__row">
                    <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Payment pending</th>
                    <td class="govuk-c-table__cell-CCD-column2-test">£215.50</td>
                    <td class="govuk-c-table__cell-CCD-column3-test">14 Feb 2018—10:25:12</td>
                  </tr>
                  <tr class="govuk-c-table__row">
                    <th class="govuk-c-table__cell-CCD-column1-test" scope="row">Payment successful</th>
                    <td class="govuk-c-table__cell-CCD-column2-test">£215.50</td>
                    <td class="govuk-c-table__cell-CCD-column3-test">28 Feb 2018—12:31:27</td>
                  </tr>


                </tbody>
           </table>




           </div>

        <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                <!-- <br>
                <br>
                <br>
                <br>
                <br>
                <br> -->

                <!-- <br>
                <div id="message"><p>
                This fee was paid with multipule payments.</p> <div/>
                <br>
                <br> -->


                <h2>Refund payment</h2>
                <form>
                  <br>

                  <!-- <div class="govuk-o-form-group">
                    <fieldset class="govuk-c-fieldset">

                <div class="govuk-c-checkboxes">
                    <div class="govuk-c-checkboxes__item">
                      <input class="govuk-c-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
                      <label class="govuk-c-label govuk-c-checkboxes__label" for="nationality-1">
                      Refund payment
                    </label>
                    </div> -->
                    <p class="govuk-c-fieldset__hint">You can also give partial refunds</span>

                    <br>

                    <!-- <input value="Refund" type="submit" disabled="disabled" aria-disabled="true" class="govuk-c-button govuk-c-button--disabled"> -->



                  <div class="govuk-o-form-group">
                    <fieldset class="govuk-c-fieldset">
                    <div class="govuk-c-radios refund-payment-toggle">

                        <div class="govuk-c-radios__item">
                          <input class="govuk-c-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                          <label class="govuk-c-label govuk-c-radios__label" for="changed-name-1">
                            Full refund
                          <span class="govuk-c-fieldset__hint">refund amount of £215.50</span>
                        </label>
                        </div>
                            <div class="panel--border" data-for="changed-name-1">

                                <div class="govuk-o-form-group">
                                  <label class="govuk-c-label" for="select-1">
                                    Reason for refund
                                  </label>
                                  <select class="govuk-c-select" id="select-1" name="select-1">
                                    <option value="0"selected>Select</option>
                                    <option value="1">Petition cannot be issued</option>
                                    <option value="2">Not provided a valid address for the respondent</option>
                                    <option value="3">Civil partnership dissolution</option>
                                    <option value="4">Test payment</option>
                                  </select>
                                </div>

                                <!-- <div class="govuk-o-form-group"><label class="govuk-c-label" for="more-detail">
                                  Reason for refund Can you provide more detail?
                                  <span class="govuk-c-label__hint">
                                  </span>
                                </label>
                                <textarea id="more-detail" name="more-detail" rows="5" class="govuk-c-textarea"></textarea>
                                </div> -->
                            </div>

                        <br>
                        <div class="govuk-c-radios__item">
                          <input class="govuk-c-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                          <label class="govuk-c-label govuk-c-radios__label" for="changed-name-2">
                          Part refund
                          <span class="govuk-c-fieldset__hint">refund a partial amount</span>
                        </label>
                        </div>

                        <div class="panel--border" data-for="changed-name-2">

                                  <div class="govuk-o-form-group">
                                    <label class="govuk-c-label" for="national-insurance-number">
                                      Refund amount
                                    </label>
                                    <input class="govuk-c-input" id="national-insurance-number" name="national-insurance-number" type="text">
                                  </div>

                                  <div class="govuk-o-form-group">
                                    <label class="govuk-c-label" for="select-1">
                                      Reason for refund
                                    </label>
                                    <select class="govuk-c-select" id="select-1" name="select-1">
                                      <option value="0"selected>Select</option>
                                      <option value="1">Petition cannot be issued</option>
                                      <option value="2">Not provided a valid address for the respondent</option>
                                      <option value="3">Civil partnership dissolution</option>
                                      <option value="4">Test payment</option>
                                    </select>
                                  </div>

                                  <!-- <div class="govuk-o-form-group"><label class="govuk-c-label" for="more-detail">
                                    Reason for refund Can you provide more detail?
                                    <span class="govuk-c-label__hint">
                                    </span>
                                  </label>
                                  <textarea id="more-detail" name="more-detail" rows="5" class="govuk-c-textarea"></textarea>
                                  </div> -->
                        </div>

                      </div>

                      <br>
                      <input value="Refund" id="refund-btn" type="submit" class="govuk-c-button">
                      <p><a class="cancel-refund" href="#">Cancel</a></p>
                    </fieldset>
                  </div>

                <!-- <div class="govuk-o-form-group"><label class="govuk-c-label govuk-!-width-two-thirds" for="full-name">
                  Refund amount
                </label>
                <input class="govuk-c-input govuk-!-width-two-thirds" id="full-name" name="full-name" type="text">
                </div> -->


                    <!-- <div class="govuk-o-form-group"><label class="govuk-c-label" for="more-detail">
                    Can you provide more detail?
                    <span class="govuk-c-label__hint">
                      Don’t include personal or financial information.
                    </span>
                  </label>
                  <textarea id="more-detail" name="more-detail" rows="5" class="govuk-c-textarea"></textarea>

                  </div> -->

          </div>
</fieldset>
</div>
          </div>



      </div>
    </div>
  </main>
</div>

<!-- <div display-text></div>
<input class="model" type="text"> -->

{% endblock %}

{% block page_scripts %}
<script>
$(document).ready(function () {
  var refundPaymentToggle = $('.refund-payment-toggle');
  var refundBtn = $('#refund-btn');
  var cancelRefund = $('.cancel-refund');
  var radioButtons = $('.govuk-c-radios__input');

  refundBtn.on('click', openRefundSection);
  cancelRefund.on('click', closeRefundSection);
  radioButtons.on('change', checkRadioStatus);

  function closeRefundSection (ev) {
    ev.preventDefault();
    refundPaymentToggle.hide();
    cancelRefund.hide();
  }

  function openRefundSection (ev) {
    ev.preventDefault();
    refundPaymentToggle.show();
    cancelRefund.show();
  }

  function checkRadioStatus () {
    var id = $(this).prop('id');
    $('.panel--border').hide();
    $('[data-for='+id+']').show();
  }

  // fresh stuff
  // var model = {
  //   amount: '',
  //   getTax: function (ev) {
  //     this.amount = $(ev.target).val() - (0.25 * $(ev.target).val());
  //     $('[display-text]').html( this.amount );
  //   }
  // };
  //
  // $('.model').on('keyup', model.getTax);







});
</script>
{% endblock %}
