{% extends "layout-ccd.html" %}

{% block page_title %}
  Payment tab
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  <!-- <a class="govuk-c-back-link" href="">Back</a> -->
  <br/>
  <div class="govuk-o-width-container">
    <a href="" >Case list</a>
    <!-- <a href="">Lorem ipsum...</a>
    <a href="">Lorem ipsum...</a> -->
  </div>

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--full">

         <div id="subHeader">
            <p id="paragraphWhite">2309-1129-5569-2669</p>
            <!-- <p id="paragraphWhite">Print</p> -->
         </div>

         <br/>

         <h1 class="govuk-heading-xl">
           Payment tab
         </h1>

         <table class="govuk-c-table">
           <!-- <caption class="govuk-c-table__caption">Months and rates</caption> -->
             <thead class="govuk-c-table__head">
               <tr class="govuk-c-table__row">
                 <th class="govuk-c-table__header-CCD" scope="col">Payment reference</th>

                 <th class="govuk-c-table__header-CCD" scope="col">Date</th>
                 <th class="govuk-c-table__header-CCD" scope="col">Payment method</th>
                 <th class="govuk-c-table__header-CCD" scope="col">Payment amount</th>
                 <th class="govuk-c-table__header-CCD" scope="col">Status</th>
                 <th class="govuk-c-table__header-CCD" scope="col">Remission</th>
                 <th class="govuk-c-table__header-CCD" scope="col">Refund</th>
               </tr>


             </thead>
               <tbody class="govuk-c-table__body">
                 <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-ref" scope="row"><a href="1RC-1521-1095-0964-3143.html">RC-1521-1095-0964-3143<a/></th>

                   <td class="govuk-c-table__cell-CCD">14 Feb 2018</td>
                   <td class="govuk-c-table__cell-CCD">Credit account</td>
                   <td class="govuk-c-table__cell-CCD">£215.00</td>
                   <td class="govuk-c-table__cell-CCD">Success</td>
                   <td class="govuk-c-table__cell-CCD">No</td>
                   <td class="govuk-c-table__cell-CCD">No</td>
                 </tr>

                 <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-ref" scope="row"><a href="1RC-1521-1095-0964-3143-2fee.html">RC-1521-1095-0964-3143<a/></th>

                   <td class="govuk-c-table__cell-CCD">14 Feb 2018</td>
                   <td class="govuk-c-table__cell-CCD">Credit account</td>
                   <td class="govuk-c-table__cell-CCD">£215.50</td>
                   <td class="govuk-c-table__cell-CCD">Success</td>
                   <td class="govuk-c-table__cell-CCD">No</td>
                   <td class="govuk-c-table__cell-CCD">No</td>
                 </tr>

                 <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-ref" scope="row"><a href="2RC-7745-1623-4870-7132.html">RC-7745-1623-4870-7132<a/></th>

                   <td class="govuk-c-table__cell-CCD">09 Mar 2018</td>
                   <td class="govuk-c-table__cell-CCD">Card</td>
                   <td class="govuk-c-table__cell-CCD">£100.00</td>
                   <td class="govuk-c-table__cell-CCD">Success</td>
                   <td class="govuk-c-table__cell-CCD">No</td>
                   <td class="govuk-c-table__cell-CCD">No</td>
                 </tr>

                 <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-ref" scope="row"><a href="2RC-7745-1623-4870-7132-2fee.html">RC-7745-1623-4870-7132<a/></th>

                   <td class="govuk-c-table__cell-CCD">09 Mar 2018</td>
                   <td class="govuk-c-table__cell-CCD">Card</td>
                   <td class="govuk-c-table__cell-CCD">£101.00</td>
                   <td class="govuk-c-table__cell-CCD">Success</td>
                   <td class="govuk-c-table__cell-CCD">No</td>
                   <td class="govuk-c-table__cell-CCD">No</td>
                 </tr>

                 <tr class="govuk-c-table__row">
                   <th class="govuk-c-table__cell-CCD-ref" scope="row"><a href="/1RC-3556-2525-7732-1145">RC-3556-2525-7732-1145<a/></th>

                   <td class="govuk-c-table__cell-CCD">22 Mar 2018</td>
                   <td class="govuk-c-table__cell-CCD">Credit account</td>
                   <td class="govuk-c-table__cell-CCD">£550.00</td>
                   <td class="govuk-c-table__cell-CCD">Failed</td>
                   <td class="govuk-c-table__cell-CCD">No</td>
                   <td class="govuk-c-table__cell-CCD">No</td>
                 </tr>



               </tbody>
          </table>


      </div>


      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <!-- <footer id="mainFooter">
          <small>
            &copy; <a href="index.html">companyname</a>
            <time id="thisYear"></time>
          </small>
        </footer> -->
        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
